
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
<script src="~/Conetnt/js/jquery-1.7.2.min.js"></script>
<script src="~/Home/GetJavascript"></script>
<script type="text/javascript">
    window.onload = function () {

        // 有参数测试
        var paramters = { "Id": 1 };
        $.net.Home.GetParameters(paramters, {
            success: function (d) {
                alert("xx");
            }
        });

        // 无参数测试
        $.net.Home.NoParameters({
            success: function (d) {
                alert("ggg");
            }
        });
    };
</script>