@section Header{
    <link href="/Conetnt/css/mystyle.css" rel="stylesheet" />
}
@{ Html.RenderPartial("~/Views/Shared/_Nav.cshtml"); }
<div id="app" class="container-fluid">
    <div class="h6"></div>
    <div class="alert nav navbar-default">
        <h4>表格查询</h4>
        <div id="condition">
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">地址</span>
                            <input class="form-control" type="text" id="txtAddress" />
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">名称</span>
                            <input class="form-control" type="text" id="txtName" />
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">手机</span>
                            <input class="form-control" type="text" id="txtMobile" />
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <div class="input-group">
                            <input class="btn btn-group" type="button" value="查询" v-on:click="search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h6"></div>
    <div>
        <table-template v-bind:items="items" v-bind:data-length="dataLength"></table-template>
    </div>
    <parent-template v-bind:array="pageSizeArray" v-bind:paging="paging"></parent-template>
</div>
@section Footer{
    <script src="/Conetnt/js/myjs.js"></script>
    <script src="/Conetnt/js/component.js"></script>
}