@section Header{
    <link href="/Conetnt/css/index.css" rel="stylesheet" />
    <link href="/Conetnt/css/menu.css" rel="stylesheet" />
}
@{ Html.RenderPartial("~/Views/Shared/_Nav.cshtml"); }
    <div class="container-fluid">
        <div class="h1">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="alert-danger">数据格式</div>
            </div>
            <div class="col-sm-6">
                <div class="alert-success">展示效果</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <pre>
                [{
	                id: 1,
	                name: "办公管理",
	                children: [{
		                id: 2,
		                name: "请假申请",
		                children: [{
			                id: 4,
			                name: "请假记录"
		                }]
	                }, {
		                id: 3,
		                name: "出差申请"
	                }]
                }, {
	                id: 5,
	                name: "系统设置",
	                children: [{
		                id: 6,
		                name: "权限管理",
		                children: [{
			                id: 7,
			                name: "用户角色"
		                }, {
			                id: 8,
			                name: "菜单设置"
		                }]
	                }]
                }]
            </pre>
            </div>
            <div class="col-sm-6">
                <div id="app1" class="tree"></div>
            </div>
        </div>
        <div class="h1">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="alert-danger">数据格式</div>
            </div>
            <div class="col-sm-6">
                <div class="alert-success">展示效果</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <pre>
            [
                { id: 1, name: "办公管理", pid: 0 },
                { id: 2, name: "请假申请", pid: 1 },
                { id: 3, name: "出差申请", pid: 1 },
                { id: 4, name: "请假记录", pid: 2 },
                { id: 5, name: "系统设置", pid: 0 },
                { id: 6, name: "权限管理", pid: 5 },
                { id: 7, name: "用户角色", pid: 6 },
                { id: 8, name: "菜单设置", pid: 6 },
            ]
            </pre>
            </div>
            <div class="col-sm-6">
                <div id="app2" class="tree"></div>
            </div>
        </div>
        <div class="h1">
            <hr />
        </div>
    </div>



<script>
    var menusHtml = new Array();
    $(function () {
        var json = [{ id: 1, name: "办公管理", children: [{ id: 2, name: "请假申请", children: [{ id: 4, name: "请假记录" }] }, { id: 3, name: "出差申请" }] }, { id: 5, name: "系统设置", children: [{ id: 6, name: "权限管理", children: [{ id: 7, name: "用户角色" }, { id: 8, name: "菜单设置" }] }] }];
        getMenu(json);
        $("#app1").append(menusHtml.join(""));
    });
    function getMenu(arry) {
        if (arry.length > 0) {
            menusHtml.push('<ul>');
            for (var i in arry) {
                if (arry.hasOwnProperty(i)) {

                    menusHtml.push('<li class="parent_li">');
                    menusHtml.push('<span title="Collapse this branch"><i class="glyphicon glyphicon-folder-open"></i> &nbsp;' + arry[i].name + "</span>");
                    if (arry[i].children !== undefined && arry[i].children !== null) {
                        getMenu(arry[i].children);
                    }
                    menusHtml.push('</li>');
                }
            }
            menusHtml.push('</ul>');
        }
    }
    function getChildren(arry) {
        var newArry = new Array();
        for (var i in arry) {
            if (arry.hasOwnProperty(i)) {
                if (arry[i].children != null)
                    newArry.push(arry[i]);
            }
        }
        return newArry;
    }
</script>

<script type="text/javascript">
    var menus = new Array();
    $(function () {
        var menuArry = [
            { id: 1, name: "办公管理", pid: 0 },
            { id: 2, name: "请假申请", pid: 1 },
            { id: 3, name: "出差申请", pid: 1 },
            { id: 4, name: "请假记录", pid: 2 },
            { id: 5, name: "系统设置", pid: 0 },
            { id: 6, name: "权限管理", pid: 5 },
            { id: 7, name: "用户角色", pid: 6 },
            { id: 8, name: "菜单设置", pid: 6 }
        ];
        getData(0, menuArry);
        $("#app2").append(menus.join(""));
    });
    function getData(id, arry) {
        var childArry = getParentArry(id, arry);
        if (childArry.length > 0) {
            menus.push('<ul>');
            for (var i in childArry) {
                if (childArry.hasOwnProperty(i)) {
                    menus.push('<li class="parent_li">');
                    menus.push('<span title="Collapse this branch"><i class="glyphicon glyphicon-folder-open"></i> &nbsp;' + childArry[i].name + "</span>");
                    getData(childArry[i].id, arry);
                    menus.push('</li>');
                }
            }
            menus.push('</ul>');
        }
    }
    function getParentArry(id, arry) {
        var newArry = new Array();
        for (var i in arry) {
            if (arry.hasOwnProperty(i)) {
                if (arry[i].pid === id)
                    newArry.push(arry[i]);
            }
        }
        return newArry;
    }
</script>

<script>
    $(() => initAnimation());

    // 加载动画效果
    function initAnimation() {
        $(".tree li:has(ul)").addClass("parent_li").find(" > span").attr("title", "Collapse this branch");
        $(".tree li.parent_li > span").on("click", function (e) {
            var children = $(this).parent("li.parent_li").find(" > ul > li");
            if (children.is(":visible")) {
                children.hide();
                $(this).attr("title", "Expand this branch").find(" > i").addClass("glyphicon-plus-sign").removeClass("glyphicon-minus-sign");
            } else {
                children.show();
                $(this).attr("title", "Collapse this branch").find(" > i").addClass("glyphicon-minus-sign").removeClass("glyphicon-plus-sign");
            }
        });
    }
</script>