<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/Conetnt/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/Conetnt/lib/jquery-1.7.2.min.js"></script>
    <script src="/Default/GetJavascript"></script>
    <script src="/Conetnt/lib/vue.min.js"></script>
    @RenderSection("Header", false)
</head>
<body>
    @RenderBody()
</body>
</html>
<script src="/Conetnt/widget/common.js"></script>
@RenderSection("Footer", false)